a {
	color: #494d5f;
}
.shadow {
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}
.shadow-large {
	box-shadow: 0 3px 6px rgba(0, 0, 0, 0.08), 0 3px 6px rgba(0, 0, 0, 0.15);
}
.hidden {
	display: none;
}
:focus {outline: none;}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}
/*input:-internal-autofill-selected {*/
/*	background-color: rgba(183, 201, 109,.3) !important;*/
/*}*/
/*input:-webkit-autofill,*/
/*input:-webkit-autofill:hover,*/
/*input:-webkit-autofill:focus,*/
/*textarea:-webkit-autofill,*/
/*textarea:-webkit-autofill:hover,*/
/*textarea:-webkit-autofill:focus,*/
/*select:-webkit-autofill,*/
/*select:-webkit-autofill:hover,*/
/*select:-webkit-autofill:focus {*/
/*	border: none;*/
/*	!*-webkit-text-fill-color: green;*!*/
/*	-webkit-box-shadow: 0 0 0px 1000px rgba(183, 201, 109,.3) inset;*/
/*	!*transition: background-color 5000s ease-in-out 0s;*!*/
/*}*/
body {
	font-family: "Montserrat", sans-serif;
	font-weight: 400;
	font-size: 16px;
	color: #494d5f;
}
body * {
	box-sizing: border-box;
}
.abutton {
  /*background: #e5eaf5;*/
  align-items: center;
  color: #494d5f;
  padding: 4px;
  margin: 0 5px;
  border: none;
  outline: none;
}
.abutton:hover,
.abutton:active,
.abutton:focus {
  background: rgba(183, 201, 109,.3);
  color: #515d22;
  border-radius: 3px;
  border: none;
  outline: none;
}

.button-empty {
  cursor: default;
  background: transparent;
  color: transparent;
}
.button {
  background: rgba(183, 201, 109,.3);
  padding: 8px;
  margin: 0 5px;
  border-radius: 4px;
  border: none;
  outline: none;
}
.button:hover,
.button:active,
.button:focus {
  background: #b7c96d;
  border: none;
  cursor: pointer;
}
/* -------------------------------------------------------- *
 * ------------------------ GENERAL ----------------------- *
 * -------------------------------------------------------- */
.backcolor {
  height: 150px;
  background-color: #b7c96d;
}

.body-block {
	position: absolute;
	margin: 20px;
	min-height: 50vh;
	/*padding: 20px;*/
	top: 0;
	left: .7%;
	right: .7%;
	border-radius: 5px;
	background-color: #f4f4f4;
}
/* -------------------------------------------------------- *
 * ------------------------ SECTIONS ---------------------- *
 * -------------------------------------------------------- */
.section1 {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	align-items: center;

	background-color: #d8d8d8;
	height: 50px;
	border-radius: 5px 5px 0 0;
	font-size: 12px;
}

.section2 {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;

	background-color: #ededed;
	height: 70px;
	border-bottom: 1px solid #d8d8d8;
}
#logo {
	height: 64px;
}
.section3 {
	display: flex;
	flex-direction: row;
	height: inherit;
}
.header-button {
	display: flex;
	align-items: center;

	text-align: center;
	font-size: 14px;
	font-weight: 700;
	padding: 0 20px;
	border-left: 1px solid #d8d8d8;
	/*width: 180px;*/
}
.header-button > img {
	height: 20px;
	margin-right: 5px;
}
.header-button:hover,
.header-button:active,
.header-button:focus {
  background-color: #cccccc;
}
.active {
  background-color: #f4f4f4 !important;
  border-radius: 5px 5px 0 0;
}

/* -------------------------------------------------------- *
 * ----------------------- MAIN PAGE ---------------------- *
 * -------------------------------------------------------- */
/*main {
  display: flex;
  flex-direction: row;
  min-height: 40vh;
}*/

.section4 {
	padding: 30px;
}
.page_width {
	box-sizing: border-box;
	margin: 0 auto;
	min-width: 560px;
	max-width: 1240px;
}
.page_head {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;

	margin: 30px auto 20px auto;
	border-bottom: 1px solid #b7c96d;

}
.page_head > h2 {
	display: inline;
}
.page {
	/*min-height: 500px;*/
	
	background-color: white;
	border-radius: 5px;

	/*border-top: solid 1px rgba(255,255,255,.5);*/
	
	/*box-shadow: 0 2px 7px rgba(0,0,0,0.2);*/
	/*overflow: hidden;*/
	-webkit-transition: all .5s ease;
	transition: all .5s ease;
}

 /* -------------------------------------------------------- *
 * ------------------ HIDDEN ELEMENTS ---------------------- *
 * -------------------------------------------------------- */
.additional_window_background {
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	background: rgba(238, 238, 238, 0.6);
	z-index: 1;
}
.window {
	width: 400px;
	position: absolute;
	top: 10%;
	left: 20%;
	right: 20%;
	max-width: 600px;
	min-height: 20vh;
	margin: 10vh auto;
	padding: 40px;
	background: white;
	z-index: 2;
}
.window_header {
	font-size: 1.5em;
	font-weight: 400;
	text-align: center;
	padding-bottom: 30px;
	border-bottom: 1px solid #d7dce6;
	margin-bottom: 15px;
}
.window_form .explain {
	display: block;
	text-align: center;
	font-size: .7em;
	font-weight: 300;
	margin-bottom: 30px;
}
.window_form label {
  display: block;
}
.form-styling {
	width: 100%;
	height: 35px;
	padding: 0 15px;
	border: none;
	border-radius: 20px;
	margin-bottom: 20px;
	background: rgba(183, 201, 109,.3);
}
.stat-styling {
	width: 190px;
	display: inline-block;
	text-align: center;
	height: 35px;
	padding: 0 10px;
	border: none;
	border-radius: 20px;
	margin-bottom: 20px;
	margin-right: 20px;
	background: rgba(183, 201, 109,.3);
}
.window_form label {
	font-weight: 300;
	/*text-transform: uppercase;*/
	padding-left: 15px;
	padding-bottom: 10px;
	display: block;
}
.window_form input,
.window_form input {
	background: rgba(183, 201, 109,.3);
	font-weight: 500;
    /*color: #ffffff;*/
    /*font-size: 13px;*/
}
.window_form input:focus,
.window_form input:focus {
    background: rgb(183, 201, 109);
    border: none;
    -webkit-transition: background .5s ease;
    transition: background .5s ease;
}
.window_form select:focus,
.window_form select:focus {
	background: rgba(183, 201, 109,.3);
	border: none;
	-webkit-transition: background .5s ease;
	transition: background .5s ease;
}
.window_form input[type=file] {
	padding-top: 5px;
}
.window_form_btn {
	float: left;
	font-weight: 700;
	text-transform: uppercase;
	text-align: center;
	width: 100%;
	height: 35px;
	border: none;
	border-radius: 20px;
	margin-top: 23px;
	background-color: #b7c96d !important;
}
.window_form_btn:hover,
.window_form_btn:active,
.window_form_btn:focus {
	cursor: pointer;
	/*background-color: #b7c96d;*/
	color: white;
	-webkit-transition: background-color .5s;
	transition: background-color .5s;
}

/*.window_form > input,
.window_form > select {
  margin: 15px 0;
  box-sizing: border-box;
  width: 100%;
  height: 40px;
}*/

/*.window-controls {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  margin-top: 20px;
  padding-top: 20px;
  border-top: 1px solid #d7dce6;
}*/
.window-controls a {
  font-size: .8em;
  color: #74808a;
}


 /* -------------------------------------------------------- *
 * ------------------------ close X ------------------------ *
 * -------------------------------------------------------- */
.close {
	position: absolute;
	right: 10px;
	top: 10px;
	width: 32px;
	height: 32px;
	opacity: 0.3;
}
.close:hover {
	opacity: 1;
}
.close:before, .close:after {
	position: absolute;
	left: 15px;
	content: ' ';
	height: 33px;
	width: 2px;
	background-color: #333;
}
.close:before {
	transform: rotate(45deg);
}
.close:after {
	transform: rotate(-45deg);
}

 /* -------------------------------------------------------- *
 * ----------------------- TABLES -------------------------- *
 * -------------------------------------------------------- */

table {
	border-collapse: collapse;
	text-align: center;
	width: 100%;
}

/*thead {*/
/*	border: 2px solid black;*/
/*	background-color: black;*/
/*	color: white;*/
/*}*/

table, th, td {
	border: 2px solid #ccc;
	padding: 10px;
}

th {
	/*background: #74808a;*/
	cursor: pointer;
}
td {
	cursor: default;
}


.selected_row {
	background: #515d22;
}

/* -------------------------------------------------------- *
* -------------------- DIFFERENT -------------------------- *
* -------------------------------------------------------- */
.icon {
	/*min-width: 30px;*/
	/*max-width: 200px;*/
	/*max-height: 200px;*/
	width: 30px;
	height: 30px;
	/*border-radius: 15px;*/
	/*width: 100%;*/
}

select {
	/* reset */
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-appearance: none;
	-moz-appearance: none;

	cursor: pointer;
}