<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <bean id="sendMail" class="world.ucode.cashflow.utils.MailSender">
    </bean>
    <bean id="mailSender" class="org.springframework.mail.javamail.JavaMailSenderImpl">
        <property name="javaMailProperties">
            <props>
                <prop key="mail.smtps.auth">${mail.smtps.auth}</prop>
            </props>
        </property>
        <property name="host" value="smtp.gmail.com" />
        <property name="port" value="465" />
        <property name="username" value="ubayforever0@gmail.com" />
        <property name="password" value="1234567890Abc!" />
        <property name="protocol" value="smtps" />

    </bean>
    <bean id="templateMessage" class="org.springframework.mail.SimpleMailMessage">
        <property name="from" value="ubayforever0@gmail.com" />
        <property name="subject" value="Mail subject" />
    </bean>
</beans>