<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta charset="utf-8">
    <meta name="description" content="cashflow">
    <meta name="keywords" content="HTML, CSS, JS, Java, ucode, unitfactory, cbl, cblworld">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>cashflow</title>
    <link rel="shortcut icon" th:href="@{/resources/go-green/favicon.ico}" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">

    <link rel="stylesheet" th:href="@{/resources/reset.css}"/>
    <link rel="stylesheet" th:href="@{/resources/general.css}"/>
<!--    <link rel="stylesheet" th:href="@{/resources/categories.css}"/>-->

    <!-- <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script> -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.8/angular.min.js"></script>
    <script th:src="@{/resources/general.js}"></script>
    <script th:src="@{/resources/categories.js}"></script>
    <script th:src="@{/resources/categories_requests.js}"></script>
</head>

<body>
    <div class="backcolor"></div>
    <div class="body-block shadow-large">

        <section class="section1">
            <a id="authorizedLogin">Authorized login</a>
            <a class="abutton" href="/logout">Sign out</a>
        </section>
        
        <header class="section2">
            <a href="main"><img id="logo" th:src="@{/resources/img/logo.png}"></a>
            <div class="section3">
                <a class="header-button" href="wallets">
                    <img th:src="@{/resources/go-green/dollar_sign.png} ">
                    <span>Wallets</span>
                </a>
                <a class="header-button" href="transactions">
                    <img th:src="@{/resources/go-green/list.png}">
                    <span>Transactions</span>
                </a>
                 <a class="header-button active">
                    <img th:src="@{/resources/go-green/server.png}">
                    <span>Categories</span>
                </a>
                <a class="header-button" href="statistics">
                    <img th:src="@{/resources/go-green/stats.png}">
                    <span>Statistics</span>
                </a>
                <a class="header-button" href="https://api.monobank.ua" target="_blank">
                    <img th:src="@{/resources/go-green/stats.png}">
                    <span>Mono</span>
                </a>
            </div>
        </header>

        <section class="section4"
                 ng-app="get_form" ng-controller="GetController" data-ng-init="getItems()">
            <div class="page_width page_head">
                <h2>Categories</h2>
                <div>
                    <a class="button" onclick="categories.openCreate()">Create</a>
                    <a class="button" onclick="categories.openUpdate()">Update</a>
                    <a class="button" onclick="sendDeleteCategory()">Delete</a>
                </div>
            </div>
            
            <div id="categories_block" class="page_width">
                <div>
                    <table ng-model="items">
                        <tr>
                            <th>Id</th>
                            <th>Name</th>
                            <th>Description</th>
                        </tr>
                        <tr ng-repeat="i in items" class="c rows" checked=false>
                            <td>{{i.id}}</td>
                            <td>{{i.name}}</td>
                            <td>{{i.description}}</td>
                        </tr>
                    </table>
                </div>
            </div>
            <br><br><br>
            <div class="page_width page_head">
                <h2>Tags</h2>
                <div>
                    <a class="button" onclick="tags.openCreate()">Create</a>
                    <a class="button" onclick="tags.openUpdate()">Update</a>
                    <a class="button" onclick="sendDeleteTag()">Delete</a>
                </div>
            </div>
            <div id="tags_block" class="page_width">
                <div>
                    <table ng-model="items_tags">
                        <tr>
                            <th>Id</th>
                            <th>Name</th>
                            <th>Description</th>
                        </tr>
                        <tr ng-repeat="i in items_tags" class="t rows" checked=false>
                            <td>{{i.id}}</td>
                            <td>{{i.name}}</td>
                            <td>{{i.description}}</td>
                        </tr>
                    </table>
                </div>
            </div>
        </section>

      
    <div id="create_category" class="additional_window hidden">
        <div class="additional_window_background"></div>
        <div class="window shadow-large">
            <div class="window_header">Create category</div>
            <form class="window_form">

<!--                <label for="addcategory_icon">Icon</label>-->
<!--                <input id="addcategory_icon" class="form-styling" type="file" value="icon"/>-->

                <label for="addcategory_name">Name</label>
                <input id="addcategory_name" class="form-styling" type="text"/>

                <label for="addcategory_description">Description</label>
                <input id="addcategory_description" class="form-styling" type="text"/>

                <input class="window_form_btn" type="button" value="Create category" onclick="sendCreateCategory()">
                <a class="close" href="#" onclick="categories.closeCreate()"></a>

            </form>
        </div>
    </div>

    <div id="update_category" class="additional_window hidden">
        <div class="additional_window_background"></div>
        <div class="window shadow-large">
            <div id="updatecategory_name_head" class="window_header">Update category</div>
            <form class="window_form"> 
                <span class="explain">Fill only those field you want to be changed</span>

<!--                <label for="updatecategory_icon">New icon</label>-->
<!--                <input id="updatecategory_icon" class="form-styling" type="file" value="icon"/>-->

                <label for="updatecategory_name">New name</label>
                <input id="updatecategory_name" class="form-styling" type="text"/>

                <label for="updatecategory_description">Description</label>
                <input id="updatecategory_description" class="form-styling" type="text"/>

                <input class="window_form_btn" type="button" value="Update category" onclick="sendUpdateCategory()">
                <a class="close" href="#" onclick="categories.closeUpdate()"></a>

            </form>
        </div>
    </div>

    <div id="create_tag" class="additional_window hidden">
        <div class="additional_window_background"></div>
        <div class="window shadow-large">
            <div class="window_header">Create tag</div>
            <form class="window_form">

                <!--                <label for="addcategory_icon">Icon</label>-->
                <!--                <input id="addcategory_icon" class="form-styling" type="file" value="icon"/>-->

                <label for="addtag_name">Name</label>
                <input id="addtag_name" class="form-styling" type="text"/>

                <label for="addtag_description">Description</label>
                <input id="addtag_description" class="form-styling" type="text"/>

                <input class="window_form_btn" type="button" value="Create tag" onclick="sendCreateTag()">
                <a class="close" href="#" onclick="tags.closeCreate()"></a>

            </form>
        </div>
    </div>

    <div id="update_tag" class="additional_window hidden">
        <div class="additional_window_background"></div>
        <div class="window shadow-large">
            <div id="updatetag_name_head" class="window_header">Update tag</div>
            <form class="window_form">
                <span class="explain">Fill only those field you want to be changed</span>

                <!--                <label for="updatetag_icon">New icon</label>-->
                <!--                <input id="updatetag_icon" class="form-styling" type="file" value="icon"/>-->

                <label for="updatetag_name">New name</label>
                <input id="updatetag_name" class="form-styling" type="text"/>

                <label for="updatetag_description">Description</label>
                <input id="updatetag_description" class="form-styling" type="text"/>

                <input class="window_form_btn" type="button" value="Update tag" onclick="sendUpdateTag()">
                <a class="close" href="#" onclick="tags.closeUpdate()"></a>

            </form>
        </div>
    </div>

    </div>
</body>

<script type="text/javascript">

</script>

</html>
