<html>

<body>
<div>
    <form method="post">
        <input type="text" name="login" id="login" placeholder="Введите сообщение" />
        <input type="text" name="password" id="password" placeholder="Тэг">
        <input type="text" name="email" id="email" placeholder="Тэг">
        <button type="button" onclick="send()">Добавить</button>
    </form>
</div>
<div>Список сообщений</div>
{{#users}}
    <div>
        <b>{{id}}</b>
        <span>{{login}}</span>
        <i>{{password}}</i>
        <i>{{email}}</i>
    </div>
{{/users}}
</body>
</html>
<script>
    async function send() {
        let formData = new FormData();
        formData.append('login', document.getElementById("login").value);
        formData.append('password', document.getElementById("password").value);
        formData.append('email', document.getElementById("email").value);
        let object = {};
        formData.forEach(function (value, key) {
            object[key] = value;
        });
        let jsonString = JSON.stringify(object);
        let response = await fetch('sign_up', {
            method: 'POST',
            cache: 'no-cache', // *default, no-cache, reload, force-cache, only-if-cached
            headers: {
                'Content-Type': 'application/json'
            },
            async: true, //Cross-domain requests and dataType: "jsonp" requests do not support synchronous operation
            processData: false,  //To avoid making query String instead of JSON
            body: jsonString
        });
        if (response.ok) {
        } else {
            console.log( response);
            alert("Can't add feedback");
        }
    }
</script>