
<!--<html xmlns="http://www.w3.org/1999/xhtml"  xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">-->

<!--<head>-->
<!--    <meta name="_csrf" th:content="${_csrf.token}"/>-->
<!--    &lt;!&ndash; default header name is X-CSRF-TOKEN &ndash;&gt;-->
<!--&lt;!&ndash;    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>&ndash;&gt;-->
<!--</head>-->
<!--<body>-->
<!--<div>-->
<!--    <form method="post">-->
<!--        <input type="text" name="login" id="login" placeholder="Введите сообщение" />-->
<!--        <input type="text" name="password" id="password" placeholder="Тэг">-->
<!--        <input type="text" name="email" id="email" placeholder="Тэг">-->
<!--        <button type="button" onclick="send('sign_up')">Добавить</button>-->
<!--    </form>-->
<!--</div>-->
<!--<div>-->
<!--    <form>-->
<!--        <input type="text" name="login" id="login1" placeholder="Введите сообщение" />-->
<!--        <input type="text" name="password" id="password1" placeholder="Тэг">-->
<!--        <input type="text" name="email" id="email1" placeholder="Тэг">-->
<!--&lt;!&ndash;       <input type="text" id="_csrf1" th:value="${_csrf.token}" />&ndash;&gt;-->
<!--        <button type="button" onclick="send2('hallo')">Добавить</button>-->
<!--    </form>-->
<!--</div>-->
<!--</body>-->
<!--</html>-->
<!--<script>-->
<!--    function getCookie(name) {-->
<!--        if (!document.cookie) {-->
<!--            return null;-->
<!--        }-->

<!--        const xsrfCookies = document.cookie.split(';')-->
<!--            .map(c => c.trim())-->
<!--            .filter(c => c.startsWith(name + '='));-->

<!--        if (xsrfCookies.length === 0) {-->
<!--            return null;-->
<!--        }-->
<!--        return decodeURIComponent(xsrfCookies[0].split('=')[1]);-->
<!--    }-->

<!--    async function send(url) {-->
<!--        // var token = $("meta[name='_csrf']").attr("content");-->
<!--        // // var header = $("meta[name='_csrf_header']").attr("content");-->
<!--        //-->
<!--        // $(document).ajaxSend(function(e, xhr) {-->
<!--        //     xhr.setRequestHeader(token);-->
<!--        // });-->
<!--        let token = document.querySelector('meta[name="_csrf"]').content;-->
<!--        let formData = new FormData();-->
<!--        formData.append('login', document.getElementById("login").value);-->
<!--        formData.append('password', document.getElementById("password").value);-->
<!--        formData.append('email', document.getElementById("email").value);-->
<!--        // formData.append('_csrf', document.getElementById("_csrf").value);-->
<!--        let object = {};-->
<!--        formData.forEach(function (value, key) {-->
<!--            object[key] = value;-->
<!--        });-->
<!--        let jsonString = JSON.stringify(object);-->
<!--        let response = await fetch(url, {-->
<!--            method: 'POST',-->
<!--            cache: 'no-cache', // *default, no-cache, reload, force-cache, only-if-cached-->
<!--            headers: {-->
<!--                'Content-Type': 'application/json',-->
<!--                'X-CSRF-TOKEN': token-->
<!--            },-->
<!--            async: true, //Cross-domain requests and dataType: "jsonp" requests do not support synchronous operation-->
<!--            processData: false,  //To avoid making query String instead of JSON-->
<!--            body: jsonString-->
<!--        });-->
<!--        if (response.ok) {-->
<!--        } else {-->
<!--            console.log( response);-->
<!--            alert("Can't add feedback");-->
<!--        }-->
<!--    }-->
<!--    async function send2(url) {-->
<!--        console.log("asasasasas")-->
<!--        const csrfToken = getCookie('CSRF-TOKEN');-->
<!--        console.log(csrfToken)-->
<!--        let token = document.querySelector('meta[name="_csrf"]').content;-->
<!--        // let header1 = document.querySelector('meta[name="_csrf_header"]').content;-->

<!--        let formData = new FormData();-->
<!--        formData.append('login', document.getElementById("login1").value);-->
<!--        formData.append('password', document.getElementById("password1").value);-->
<!--        formData.append('email', document.getElementById("email1").value);-->
<!--        let object = {};-->
<!--        formData.forEach(function (value, key) {-->
<!--            object[key] = value;-->
<!--        });-->
<!--        let jsonString = JSON.stringify(object);-->
<!--        let response = await fetch(url, {-->
<!--            method: 'POST',-->
<!--            cache: 'no-cache', // *default, no-cache, reload, force-cache, only-if-cached-->
<!--            headers: {-->
<!--                'Content-Type': 'application/json',-->
<!--                'X-CSRF-TOKEN': token-->
<!--            },-->
<!--            async: true, //Cross-domain requests and dataType: "jsonp" requests do not support synchronous operation-->
<!--            processData: false,  //To avoid making query String instead of JSON-->
<!--            body: jsonString-->
<!--        });-->
<!--        if (response.ok) {-->
<!--            console.log(response.status)-->
<!--        } else {-->
<!--            console.log( response);-->
<!--            alert("Can't add feedback");-->
<!--        }-->
<!--    }-->
<!--</script>-->
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta charset="utf-8">
    <meta name="description" content="cashflow">
    <meta name="keywords" content="HTML, CSS, JS, Java, ucode, unitfactory, cbl, cblworld">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>cashflow</title>
    <link rel="shortcut icon" href="../static/resources/go-green/favicon.ico" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">

    <link rel="stylesheet" th:href="@{/resources/reset.css}"/>
    <link rel="stylesheet" th:href="@{/resources/general.css}"/>
</head>

<body>
    <div class="backcolor"></div>
    <div class="body-block shadow-large">
<!--        "${#authentication.getPrincipal().getUsername()}"-->
        <section class="section1">
            <a id="authorizedLogin" sec:authorize="isAuthenticated()" sec:authentication="name"></a>
            <a class="abutton" href="/logout" th:method="Post">Sign out</a>
        </section>

        <header class="section2">
            <a href="main"><img id="logo" th:src="@{/resources/img/logo.png}"></a>
            <div class="section3">
                <a class="header-button" href="/wallets">
                    <img th:src="@{/resources/go-green/dollar_sign.png}">
                    <span>Wallets</span>
                </a>
                <a class="header-button" href="/transaction">
                    <img th:src="@{/resources/go-green/list.png}">
                    <span>Transactions</span>
                </a>
                 <a class="header-button" href="/categories">
                    <img th:src="@{/resources/go-green/server.png}">
                    <span>Categories</span>
                </a>
                <a class="header-button" href="/statistics">
                    <img th:src="@{/resources/go-green/stats.png}">
                    <span>Statictics</span>
                </a>
            </div>
        </header>

<!-- <main class="page">
    <aside class="filters">
        <div class="sort">
            <p>Sort:</p>
            <select class="sort-select">
                <option value="1">none</option>
                <option value="2">cheap first</option>
                <option value="3">expensive first</option>
            </select>
        </div>

        <div>
            <p>Category:</p>
            <label class="filterbox">technics
                <input type="checkbox" class="check-brand" value="technics">
                <span class="checkmark"></span>
            </label>
            <label class="filterbox">furniture
                <input type="checkbox" class="check-brand" value="furniture">
                <span class="checkmark"></span>
            </label>
            <label class="filterbox">books
                <input type="checkbox" class="check-brand" value="books">
                <span class="checkmark"></span>
            </label>
            <label class="filterbox">clothes
                <input type="checkbox" class="check-brand" value="clothes">
                <span class="checkmark"></span>
            </label>
            <label class="filterbox">food
                <input type="checkbox" class="check-brand" value="food">
                <span class="checkmark"></span>
            </label>
            <label class="filterbox">others
                <input type="checkbox" class="check-brand" value="others">
                <span class="checkmark"></span>
            </label>
        </div>

    </aside>
    <div class="container"></div>
</main>
</div> -->
    </div>
</body>

<!--<script type="text/javascript">-->
<!--    // let authorizedLogin = @{request.ge} ;-->
<!--    if (authorizedLogin !== 'null') {-->
<!--        setAuthorizedUser(authorizedLogin);-->
<!--    }-->
<!--    setAuthorizedUser = (user) => {-->
<!--        document.querySelector('#header-login-first').setAttribute('style', 'display: none;');-->
<!--        document.querySelector('#header-login-second').setAttribute('style', 'display: block;');-->
<!--        document.querySelector('#authorizedLogin').innerHTML = user;-->
<!--    }-->
<!--</script>-->

</html>
