<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta charset="utf-8">
    <meta name="description" content="cashflow">
    <meta name="keywords" content="HTML, CSS, JS, Java, ucode, unitfactory, cbl, cblworld">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>cashflow</title>
    <link rel="shortcut icon" th:href="@{/resources/go-green/favicon.ico}" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">

    <link rel="stylesheet" th:href="@{/resources/reset.css}"/>
    <link rel="stylesheet" th:href="@{/resources/general.css}"/>

</head>

<body>
    <div class="backcolor"></div>
    <div class="body-block shadow-large">

        <section class="section1">
            <a id="authorizedLogin">Authorized login</a>
            <a class="abutton" href="/logout">Sign out</a>
        </section>
        
        <header class="section2">
            <a href="/"><img id="logo" th:src="@{/resources/img/logo.png}"></a>
            <div class="section3">
                <a class="header-button" href="wallets">
                    <img th:src="@{/resources/go-green/dollar_sign.png}">
                    <span>Wallets</span>
                </a>
                <a class="header-button" href="transactions">
                    <img th:src="@{/resources/go-green/list.png}">
                    <span>Transactions</span>
                </a>
                 <a class="header-button" href="categories">
                    <img th:src="@{/resources/go-green/server.png}">
                    <span>Categories</span>
                </a>
                <a class="header-button active">
                    <img th:src="@{/resources/go-green/stats.png}">
                    <span>Statistics</span>
                </a>
                <a class="header-button" href="https://api.monobank.ua" target="_blank">
                    <img th:src="@{/resources/go-green/stats.png}">
                    <span>Mono</span>
                </a>
            </div>
        </header>

        <section class="section4" ng-app="get_form" ng-controller="GetController">

            <div class="page_width page_head">
                <h2>Statistics</h2>
            </div>

            <div id="stat_block" class="page_width">
                <div>
                    <p data-ng-init="getItems()"></p>
                    <table id="table" ng-model="items">
                        <tr>
                            <th columns="0" onclick="tableSort(this, 'table')">Id</th>
                            <th columns="1" onclick="tableSort(this, 'table')">Description</th>
                            <th columns="2" onclick="tableSort(this, 'table')">Type</th>
                            <th columns="3" onclick="tableSort(this, 'table')">Category</th>
                            <th columns="4" onclick="tableSort(this, 'table')">Tag</th>
                            <th columns="5" onclick="tableSort(this, 'table')">Wallet</th>
                            <th columns="6" onclick="tableSort(this, 'table')">Price</th>
                        </tr>
                        <tr ng-repeat="i in items" class="rows" checked=false>
                            <td>{{i.id}}</td>
                            <td>{{i.description}}</td>
                            <td>{{i.type}}</td>
                            <td>{{i.category.name}}</td>
                            <td>{{i.tag.name}}</td>
                            <td>{{i.wallet.name}}</td>
                            <td>{{i.tag.price}}</td>
                        </tr>
                    </table>
                </div>
            </div>

            <div class="page_width page_head">
                <p>Get custom statistic</p>
                <div>
                    <a class="button">Apply filters</a>
                </div>
            </div>

            <div class="page_width page_head">
                <div>
                    <!--                    <label for="addtransaction_wallet">By wallet: </label>-->
                    <select id="addtransaction_wallet" class="stat-styling">
                        <option value="0">by wallets</option>
                    </select>

<!--                    &lt;!&ndash;                    <label for="addtransaction_category">By category: </label>&ndash;&gt;-->
<!--                    <select id="addtransaction_category" class="stat-styling">-->
<!--                        <option wallet_id="0">by categories</option>-->
<!--                    </select>-->

<!--                    &lt;!&ndash;                    <label for="addtransaction_tag">By tag: </label>&ndash;&gt;-->
<!--                    <select id="addtransaction_tag" class="stat-styling">-->
<!--                        <option wallet_id="0">by tags</option>-->
<!--                    </select>-->
                </div>
                <div>
                    <label for="select_startTime">start date: </label>
                    <input id="select_startTime" class="stat-styling" type='date' min='1899-01-01'/>

                    <label for="select_endTime">end date: </label>
                    <input id="select_endTime" class="stat-styling" type='date' min='1899-01-01'/>

                    <script>
                        let today = new Date().toISOString().split("T")[0];
                        let date = document.getElementById('select_endTime');
                        date.max = date.value = today;

                        let now = new Date()
                        today = new Date(now.setDate(now.getDate() - 30)).toISOString().split("T")[0];
                        date = document.getElementById('select_startTime');
                        date.max = date.value = today;
                    </script>

                </div>
            </div>

        </section>

    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.8/angular.min.js"></script>
    <script th:src="@{/resources/general.js}"></script>
    <script th:src="@{/resources/stat_requests.js}"></script>
</body>

</html>
