<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta charset="utf-8">
    <meta name="description" content="cashflow">
    <meta name="keywords" content="HTML, CSS, JS, Java, ucode, unitfactory, cbl, cblworld">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>cashflow</title>
    <link rel="shortcut icon" th:href="@{/resources/go-green/favicon.ico}" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">

    <link rel="stylesheet" th:href="@{/resources/reset.css}"/>
    <link rel="stylesheet" th:href="@{/resources/general.css}"/>
<!--    <link rel="stylesheet" th:href="@{/resources/wallets.css}"/>-->


    <!-- <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script> -->
<!--    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.8/angular.min.js"></script>-->
    <script th:src="@{/resources/general.js}"></script>
</head>

<body>
    <div class="backcolor"></div>
    <div class="body-block shadow-large">

        <section class="section1">
            <a id="authorizedLogin">Authorized login</a>
            <a class="abutton" href="/logout">Sign out</a>
        </section>
        
        <header class="section2">
            <a href="main"><img id="logo" th:src="@{/resources/img/logo.png}"></a>
            <div class="section3">
                <a class="header-button" href="wallets">
                    <img th:src="@{/resources/go-green/dollar_sign.png}">
                    <span>Wallets</span>
                </a>
                <a class="header-button" href="transactions">
                    <img th:src="@{/resources/go-green/list.png}">
                    <span>Transactions</span>
                </a>
                 <a class="header-button" href="categories">
                    <img th:src="@{/resources/go-green/server.png}">
                    <span>Categories</span>
                </a>
                <a class="header-button active">
                    <img th:src="@{/resources/go-green/stats.png}">
                    <span>Statistics</span>
                </a>
                <a class="header-button" href="https://api.monobank.ua" target="_blank">
                    <img th:src="@{/resources/go-green/stats.png}">
                    <span>Mono</span>
                </a>
            </div>
        </header>

        <section class="section4">
            <p>Your statistics may be here, trololo... </p>
        </section>

    </div>
</body>

</html>
