/* ----------------------------- Color palette*/
.backcolor {
    background-color: #6e9cc9;
}
.button {
    background-color: rgba(110, 156, 201, .3);
}
.button:hover,
.button:active,
.button:focus,
.abutton:hover,
.abutton:active,
.abutton:focus {
  background: #6e9cc9;
  color: white;
}

/* ----------------------------- label*/
input[name=wallet] ~ label {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;

    font-weight: 600;
    text-align: center;
    color: #838383;
    border: 1px solid #d8d8d8;
    background-color: white;
    border-radius: 5px;
    padding: 15px;
    cursor: pointer;
}
input[name=currency] ~ label {
    display: block;
    float: left;
    margin: 0 20px 40px 0;

    font-weight: 600;
    text-align: center;
    color: #838383;
    border: 1px solid #d8d8d8;
    background-color: white;
    border-radius: 5px;
    padding: 15px;
    cursor: pointer;
}
/* ----------------------------- label animation*/
div > input[type=radio] {
  position: absolute;
  visibility: hidden;
}
div > input[type=radio]:checked + label {
  border: 1px solid #6e9cc9;
  background-color: #6e9cc9;
  color: white;
}
.wallet_name {
    flex-grow: 2;
}
.wallet_img {
    display: inline-block;
}
.wallet_img img {
    min-width: 30px;
    max-width: 200px;
    max-height: 200px;
    border-radius: 15px;
    width: 100%;
}
.wallet_currency {
    margin-left: 5px;
}
